@import "tailwindcss";
@import "@heroui/styles";
@plugin "daisyui" {
   themes: light;
 }

.glass-level-1 {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px)
}

.glass-level-2 {
    background: rgba(255, 255, 255, 0.18);
    backdrop-filter: blur(40px);
    border: 1px solid rgba(255, 255, 255, 0.2)
}

.glass-level-3 {
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(64px);
    border: 1.5px solid;
    border-image: linear-gradient(to bottom right, #d0bcff, #ffb2b9) 1
}

.liquid-gradient {
    background: linear-gradient(45deg, #6d3bd7, #d0bcff, #ffb2b9);
    background-size: 200% 200%
}

.text-gradient {
    background: linear-gradient(to right, #d0bcff, #ffb2b9, #ffddb8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent
}